.matrimony_header_main {
  height: 12vh;
  width: 100vw;
  background: linear-gradient(270deg, #14531a 0%, #ffbd00 100%);
  /* background: white; */
  /* border-radius: 50px; */
  /* background: #e0e0e0; */
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.matrimony_header_logo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
  padding-left: 10px;
  color: #fffefe;
  display: flex;
  align-items: center;
}

.logo_image_matrimony {
  width: 4vw;
  margin: 15px;
  cursor: pointer;
}

.profile_image_matrimony {
  width: 2vw;
  margin: 15px;
  cursor: pointer;
}

.dropbtn {
  /* background-color: #04AA6D; */
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 10px;
  cursor: pointer;
}

.dropdown-content div:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */


@media only screen and (max-device-width: 768px) {
  .logo_image_matrimony {
    width: 10vw;
  }
}
