section {
    height: 100vh;
  }
  .matrimony_home_maincontainer {
    height: 92vh;
    width: 100vw;
    /* background: rgb(199, 6, 6); */
    display: flex;
  }
  .matrimony_home_left_container {
    height: 100%;
    width: 25%;
    /* background: rgb(22, 177, 14); */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .matrimony_home_right_container {
    height: 100%;
    width: 75%;
    /* background: rgb(7, 38, 123); */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .matrimony_filter::-webkit-scrollbar {
    display: none;
  }
  
  .matrimony_filter {
    height: 90%;
    width: 90%;
    background: #ffffff;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .matrimony_list_container::-webkit-scrollbar {
    display: none;
  }
  
  .matrimony_list_container {
    height: 90%;
    width: 95%;
    background: #ffffff;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    align-items: center;
    justify-content: center;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .matrimony_home_filter_from_container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .matrimony_filter_title {
    display: flex;
    align-items: center;
  }
  .matrimony_filter_image {
    height: 35px;
    margin: 15px;
  }
  
  .matrimony_float_button{
    position:fixed;
      width:60px;
      height:60px;
      bottom:40px;
      right:40px;
      background-color:rgb(243, 250, 248);
      color:#FFF;
      border-radius:50px;
      text-align:center;
      box-shadow: 2px 2px 3px #999;
    display: none;
  }
  
  .matrimony_mobileFilter{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 20%;
  }
  
  .matrimony_search_button{
    /* height: 6%; */
    width: fit-content;
    padding: 10px 25px 10px 25px;
    margin: 15px;
    background: #f29f05;
    border-radius: 10px;
    color: #fff;
    font: var(--primary-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    border: 0;
  }
  
  .image_isempty{
    height: 50vh;
  }
  
  .empty_page_text{
    font-family: "poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #242424;
  }
  
  #isEmpty{
    flex-direction: column;
  }
  
  @media only screen and (max-device-width: 768px){
    .matrimony_home_maincontainer{
      justify-content: center;
    }
    .matrimony_home_left_container {
      width: 0;
    }
    .matrimony_home_right_container {
      width: 90%;
      align-items: center;
    }
    .matrimony_float_button{
      display: block;
    }
  
    
  }