.login_parent {
  height: 100vh;
  width: 100vw;
  /* background: rgb(167, 94, 94); */
}

.login_header {
  width: 100%;
  height: 15vh;
  /* background: rgb(50, 224, 70); */
  display: flex;
  align-items: center;
  /* padding-left: 20px; */
}

h1 {
  font: var(--primary-font-family);
  font-size: 3rem;
  font-weight: 900;
  font-style: normal;
}

p {
  font: var(--primary-font-family);
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
}

.login_maincontainer {
  width: 100vw;
  height: 85vh;
  /* background: rgb(124, 24, 178); */
  display: flex;
}

.login_main_left {
  width: 45%;
  height: 85vh;
  /* background: rgb(237, 7, 68); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-right: 1.5px solid #CCCCCC; */
  line-height: 40px;
}

hr {
  margin-top: 40px;
  height: 85%;
  width: .5px;
  background: #cccccc;
}

.login_main_right {
  width: 55%;
  height: 85vh;
  /* background: rgb(70, 14, 149); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_switch_page_container {
  height: 80vh;
  width: 80%;
}

.login_switch_page_bg {
  height: 80vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 20px;
  opacity: 0.8;
  z-index: 1;
}

.login_switch_page_gradient {
  height: 80vh;
  width: 80%;
  background: #000;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(242, 159, 5, 0.75) 0%,
    rgba(3, 140, 127, 0.75) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.login_switch_inactive {
  width: 90%;
  height: 12%;
  margin: 15px;
  background: #cccccc;
  /* border: 1px solid #000000; */
  /* box-sizing: border-box; */
  border-radius: 10px;
  font: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  z-index: 3;
  padding: 5px;
}

.login_switch_active {
  width: 90%;
  height: 12%;
  margin: 15px;
  background: #fbfbfb;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  font: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  z-index: 3;
  padding: 5px;
}

.login_form_container {
  height: 90%;
  width: 90%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login_form {
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.field {
  width: 80%;
  height: 10%;
  border: 1px solid #000000;
  margin-top: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px;
}

.login_button {
  /* height: 6%;
  width: 15%; */
  margin-top: 15px;
  background: linear-gradient(270deg, #14531a 0%, #ffbd00 100%);
  border-radius: 10px;
  color: #fff;
  font: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  border: 0;
  padding: 10px 20px 10px 20px;
}

.logo_image {
  /* height: 40px; */
  width: 6vw;
  margin: 15px;
}

.login_forget_pssword {
  margin: 10px;
}

.login_span {
  margin: 30px;
}

.logo {
  /* font: var(--primary-font-family);
  font-size: 2rem;
  font-weight: 900;
  font-style: normal; */
  margin: 30px;
}

.register_button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  /* display: flex;
  align-items: center;
  text-align: center; */
  color: #f29f05;
  cursor: pointer;
}

@media only screen and (max-device-width: 768px) {
  .login_header {
    justify-content: center;
  }
  .login_maincontainer {
    flex-direction: column;
    align-items: center;
  }
  .login_main_left {
    width: 100%;
    height: 60vh;
  }
  .login_switch_page_container {
    height: auto;
    width: 100%;
    padding: 15px 0 15px 0;
  }
  .login_switch {
    min-height: 18%;
    font-size: 12px;
  }
  .login_main_right {
    width: 100%;
  }
  h1 {
    font-size: 1.4rem;
  }
  .login_button {
    width: auto;
    height: auto;
    padding: 15px;
  }
  p {
    font-size: 12px;
  }
  .register_button {
    font-size: 14px;
  }
  .login_switch_page_gradient {
    height: 60vh;
    width: 100%;
  }
  .login_switch_page_bg {
    height: 60vh;
    width: 100%;
  }
  .logo_image {
    /* height: 40px; */
    width: 15vw;
    margin: 15px;
  }
  .login_form {
    width: auto;
  }
  .login_forget_pssword {
    font-size: 12px;
  }
  .login_switch_active {
    font-size: 12px;
  }
  .login_switch_inactive {
    font-size: 12px;
  }
}
